.title {
    color: #FFF;
    font-family: Rubik;
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.6px;
    text-transform: uppercase;

    &_secondary {
        font-size: 25px;
    }
}